.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-height: 80%;
    overflow-y: auto;
  }
  
  .search-bar {
    display: flex;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  .search-bar button {
    padding: 10px;
    border: none;
    background-color: rgb(65, 92, 226);
    border-radius: 0 4px 4px 0;
    color: white;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: rgb(55, 82, 216);
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    border: none;
    padding: 10px;
    background-color: rgb(65, 92, 226);
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(55, 82, 216);
  }
  